<div class="bg">
  <span class="s-1"><span class="wordart"><span></span></span></span>
</div>

<div>
<div class="logo"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 1380.01 369" style="enable-background:new 0 0 1380.01 369;" xml:space="preserve">
<style type="text/css">
	.st0{display:none;}
	.st1{display:inline;fill:none;}
	.st2{display:inline;fill:#59B6E1;}
	.st3{font-family:'Lato-Semibold';}
	.st4{font-size:48px;}
	.st5{clip-path:url(#SVGID_2_);fill:#4c3371;}
	.st6{clip-path:url(#SVGID_4_);fill:#4c3371;}
	.st7{clip-path:url(#SVGID_6_);fill:#4c3371;}
	.st8{clip-path:url(#SVGID_8_);fill:#4c3371;}
	.st9{clip-path:url(#SVGID_10_);fill:#4c3371;}
	.st10{clip-path:url(#SVGID_12_);fill:#4c3371;}
	.st11{clip-path:url(#SVGID_14_);fill:#4c3371;}
	.st12{clip-path:url(#SVGID_16_);fill:#4c3371;}
	.st13{clip-path:url(#SVGID_18_);fill:#4c3371;}
	.st14{clip-path:url(#SVGID_20_);fill:#4c3371;}
	.st15{clip-path:url(#SVGID_22_);fill:#4c3371;}
	.st16{clip-path:url(#SVGID_24_);fill:#4c3371;}
	.st17{clip-path:url(#SVGID_26_);fill:#4c3371;}
	.st18{clip-path:url(#SVGID_28_);fill:#4c3371;}
	.st19{clip-path:url(#SVGID_30_);fill:#4c3371;}
</style>
<g id="logo">
</g>
<g id="new_tag" class="st0">
	<rect x="472.24" y="48.75" class="st1" width="747.71" height="71.65"/>
	<text transform="matrix(1 0 0 1 472.2435 84.2695)" class="st2 st3 st4">Procrastinate with Purpose </text>
</g>
<g id="new_tag_-_full_w">
	<g>
		<g>
			<defs>
				<path id="SVGID_1_" d="M350.6,271.64c-6.49-6.49-9.73-14.29-9.73-23.41c0-9.12,3.24-16.92,9.73-23.41      c6.49-6.48,14.29-9.73,23.41-9.73c9.12,0,16.92,3.24,23.41,9.73c6.49,6.49,9.73,14.29,9.73,23.41c0,9.12-3.24,16.92-9.73,23.41      c-6.49,6.48-14.29,9.73-23.41,9.73C364.89,281.37,357.08,278.12,350.6,271.64 M335.04,164.94c-2.33,2.74-3.49,5.33-3.49,7.76      c0,3.04,1.14,5.71,3.41,7.99c2.28,2.29,4.94,3.42,7.97,3.42c1.52,0,5.49-2.2,11.91-6.6c6.43-4.4,12.83-6.6,19.2-6.6      c9.11,0,16.9,3.24,23.38,9.73c6.48,6.49,9.72,14.29,9.72,23.4c-9.82-7.36-20.85-11.03-33.1-11.03      c-15.18,0-28.19,5.42-39.02,16.26c-10.83,10.84-16.25,23.86-16.25,39.05c0,15.2,5.42,28.19,16.26,38.97      c10.84,10.79,23.85,16.18,39.05,16.18c12.26,0,23.29-3.7,33.12-11.1c-0.1,7.4,3.55,11.1,10.94,11.1c7.39,0,11.09-3.7,11.09-11.1      v-88.35c0-15.21-5.4-28.2-16.18-39c-10.79-10.79-23.78-16.19-38.97-16.19C357.07,148.82,344.06,154.19,335.04,164.94"/>
			</defs>
			<use xlink:href="#SVGID_1_" style="overflow:visible;fill:#4c3371;"/>
			<clipPath id="SVGID_2_">
				<use xlink:href="#SVGID_1_" style="overflow:visible;"/>
			</clipPath>
			<rect x="318.78" y="148.82" class="st5" width="110.46" height="154.64"/>
		</g>
		<g>
			<defs>
				<path id="SVGID_3_" d="M456.85,159.76v132.59c0,7.4,3.68,11.1,11.04,11.1c7.37,0,11.05-3.7,11.05-11.1V159.76      c0-7.3-3.68-10.95-11.05-10.95C460.53,148.82,456.85,152.47,456.85,159.76"/>
			</defs>
			<use xlink:href="#SVGID_3_" style="overflow:visible;fill:#4c3371;"/>
			<clipPath id="SVGID_4_">
				<use xlink:href="#SVGID_3_" style="overflow:visible;"/>
			</clipPath>
			<rect x="456.85" y="148.82" class="st6" width="22.09" height="154.64"/>
		</g>
		<g>
			<defs>
				<path id="SVGID_5_" d="M509.06,93.64v165.58c0,12.16,4.33,22.58,13,31.24c8.66,8.67,19.03,13,31.09,13      c7.4,0,11.1-3.71,11.1-11.12c0-7.31-3.69-10.97-11.08-10.97c-5.97,0-11.13-2.18-15.48-6.54c-4.35-4.35-6.53-9.58-6.53-15.66      V93.64c0-7.4-3.66-11.1-10.97-11.1C512.76,82.54,509.06,86.24,509.06,93.64"/>
			</defs>
			<use xlink:href="#SVGID_5_" style="overflow:visible;fill:#4c3371;"/>
			<clipPath id="SVGID_6_">
				<use xlink:href="#SVGID_5_" style="overflow:visible;"/>
			</clipPath>
			<rect x="509.06" y="82.54" class="st7" width="55.19" height="220.92"/>
		</g>
		<g>
			<defs>
				<path id="SVGID_7_" d="M661.43,159.76v88.47c0,9.12-3.24,16.92-9.73,23.41c-6.49,6.48-14.29,9.73-23.41,9.73      c-9.12,0-16.92-3.24-23.41-9.73c-6.49-6.49-9.73-14.29-9.73-23.41v-88.47c0-7.3-3.66-10.94-10.97-10.94      c-7.41,0-11.12,3.65-11.12,10.95v88.5c0,15.21,5.4,28.21,16.2,39c10.8,10.8,23.8,16.19,39.01,16.19      c12.26,0,23.32-3.7,33.15-11.1v22.17c0,9.11-3.25,16.91-9.74,23.39c-6.49,6.48-14.31,9.72-23.43,9.72      c-9.44,0-17.48-3.69-24.12-11.07c-6.65-7.39-11.24-11.07-13.77-11.07c-2.95,0-5.61,1.09-7.99,3.27      c-2.39,2.18-3.58,4.73-3.58,7.68c0,1.72,0.56,3.69,1.68,5.93c4.36,8.21,11.11,14.84,20.24,19.91      c8.83,4.96,18.01,7.45,27.55,7.45c15.22,0,28.24-5.42,39.04-16.27c10.81-10.85,16.22-23.82,16.22-38.93V159.76      c0-7.3-3.66-10.95-10.97-10.95C665.14,148.82,661.43,152.46,661.43,159.76"/>
			</defs>
			<use xlink:href="#SVGID_7_" style="overflow:visible;fill:#4c3371;"/>
			<clipPath id="SVGID_8_">
				<use xlink:href="#SVGID_7_" style="overflow:visible;"/>
			</clipPath>
			<rect x="573.07" y="148.82" class="st8" width="110.46" height="220.92"/>
		</g>
		<g>
			<defs>
				<path id="SVGID_9_" d="M749.51,265.11c-10.84-10.84-16.26-23.85-16.26-39.05c0-15.09,5.42-28.05,16.26-38.89      c10.84-10.84,23.8-16.26,38.89-16.26c15.19,0,28.21,5.42,39.05,16.26c10.84,10.84,16.26,23.81,16.26,38.89      c0,15.2-5.42,28.21-16.26,39.05c-10.84,10.84-23.86,16.26-39.05,16.26C773.31,281.37,760.35,275.95,749.51,265.11 M711.16,93.64      v132.43c0,21.39,7.55,39.63,22.65,54.73c15.1,15.1,33.3,22.65,54.59,22.65c21.39,0,39.64-7.55,54.74-22.65      c15.1-15.1,22.66-33.35,22.66-54.74c0-21.29-7.55-39.48-22.65-54.59c-15.1-15.1-33.34-22.66-54.72-22.66      c-21.59,0-39.98,7.71-55.18,23.14V93.64c0-7.4-3.66-11.1-10.97-11.1C714.87,82.54,711.16,86.24,711.16,93.64"/>
			</defs>
			<use xlink:href="#SVGID_9_" style="overflow:visible;fill:#4c3371;"/>
			<clipPath id="SVGID_10_">
				<use xlink:href="#SVGID_9_" style="overflow:visible;"/>
			</clipPath>
			<rect x="711.16" y="82.54" class="st9" width="154.64" height="220.92"/>
		</g>
		<g>
			<defs>
				<path id="SVGID_11_" d="M904.33,155.23c-1.83-4.27-5.22-6.41-10.19-6.41c-7.41,0-11.1,3.65-11.1,10.95v132.59      c0,7.4,3.68,11.1,11.04,11.1c7.36,0,11.04-3.7,11.04-11.1v-99.41c0-5.97,2.16-11.14,6.48-15.5c4.32-4.36,9.53-6.54,15.62-6.54      c6.5,0,12.14,2.79,16.92,8.35c4.77,5.57,8.63,8.35,11.58,8.35c2.95,0,5.61-1.06,8-3.19c2.39-2.13,3.58-4.67,3.58-7.61      c0-1.72-0.56-3.7-1.67-5.93c-3.45-6.59-8.8-11.92-16.05-15.98c-7.25-4.06-14.68-6.08-22.28-6.08      C918.98,148.82,911.33,150.95,904.33,155.23"/>
			</defs>
			<use xlink:href="#SVGID_11_" style="overflow:visible;fill:#4c3371;"/>
			<clipPath id="SVGID_12_">
				<use xlink:href="#SVGID_11_" style="overflow:visible;"/>
			</clipPath>
			<rect x="883.03" y="148.82" class="st10" width="84.27" height="154.64"/>
		</g>
		<g>
			<defs>
				<path id="SVGID_13_" d="M990.54,226.03c0-15.08,5.4-28.04,16.2-38.87c10.8-10.83,23.8-16.25,39.02-16.25      c16.53,0,30.32,6.2,41.37,18.59l-93.79,54.14C991.47,237.97,990.54,232.1,990.54,226.03 M991.17,171.47      c-15.15,15.1-22.73,33.3-22.73,54.59c0,21.39,7.57,39.64,22.73,54.74c15.15,15.1,33.37,22.65,54.66,22.65      c13.48,0,26.47-3.52,38.99-10.56c12.52-7.04,21.87-16.4,28.05-28.05c1.01-2.13,1.52-4.05,1.52-5.77c0-3.04-1.17-5.63-3.5-7.76      c-2.33-2.13-5.02-3.19-8.06-3.19c-3.14,0-6.16,1.9-9.05,5.69c-2.89,3.8-5,6.66-6.31,8.58c-10.34,12.65-24.23,18.98-41.66,18.98      c-16.63,0-30.41-6.22-41.35-18.65l104.29-60.22c3.65-2.03,5.48-5.02,5.48-8.97c0-7.81-5.62-16.12-16.88-24.94      c-9.02-7.09-18.24-12.26-27.67-15.51c-8.31-2.84-16.27-4.26-23.87-4.26C1024.55,148.82,1006.33,156.37,991.17,171.47"/>
			</defs>
			<use xlink:href="#SVGID_13_" style="overflow:visible;fill:#4c3371;"/>
			<clipPath id="SVGID_14_">
				<use xlink:href="#SVGID_13_" style="overflow:visible;"/>
			</clipPath>
			<rect x="968.45" y="148.82" class="st11" width="145.95" height="154.64"/>
		</g>
		<g>
			<defs>
				<path id="SVGID_15_" d="M1161.24,271.64c-6.49-6.49-9.73-14.29-9.73-23.41c0-9.12,3.24-16.92,9.73-23.41      c6.49-6.48,14.29-9.73,23.41-9.73c9.12,0,16.92,3.24,23.41,9.73c6.48,6.49,9.73,14.29,9.73,23.41c0,9.12-3.24,16.92-9.73,23.41      c-6.49,6.48-14.29,9.73-23.41,9.73C1175.52,281.37,1167.72,278.12,1161.24,271.64 M1145.68,164.94      c-2.33,2.74-3.49,5.33-3.49,7.76c0,3.04,1.14,5.71,3.41,7.99c2.28,2.29,4.93,3.42,7.97,3.42c1.52,0,5.49-2.2,11.92-6.6      c6.43-4.4,12.83-6.6,19.2-6.6c9.11,0,16.9,3.24,23.38,9.73c6.48,6.49,9.72,14.29,9.72,23.4c-9.82-7.36-20.85-11.03-33.1-11.03      c-15.18,0-28.19,5.42-39.02,16.26c-10.83,10.84-16.24,23.86-16.24,39.05c0,15.2,5.42,28.19,16.26,38.97      c10.84,10.79,23.85,16.18,39.05,16.18c12.26,0,23.29-3.7,33.12-11.1c-0.1,7.4,3.55,11.1,10.94,11.1c7.39,0,11.09-3.7,11.09-11.1      v-88.35c0-15.21-5.4-28.2-16.18-39c-10.79-10.79-23.78-16.19-38.97-16.19C1167.71,148.82,1154.7,154.19,1145.68,164.94"/>
			</defs>
			<use xlink:href="#SVGID_15_" style="overflow:visible;fill:#4c3371;"/>
			<clipPath id="SVGID_16_">
				<use xlink:href="#SVGID_15_" style="overflow:visible;"/>
			</clipPath>
			<rect x="1129.42" y="148.82" class="st12" width="110.46" height="154.64"/>
		</g>
		<g>
			<defs>
				<path id="SVGID_17_" d="M1267.49,93.64v198.72c0,7.4,3.68,11.1,11.05,11.1c7.36,0,11.04-3.7,11.04-11.1V228.2      c0.42,2.13,1.52,4.06,3.3,5.78l66.28,66.14c2.23,2.22,4.83,3.34,7.78,3.34c2.94,0,5.56-1.12,7.85-3.38      c2.28-2.26,3.43-4.84,3.43-7.76c0-2.81-1.15-5.36-3.44-7.68l-58.53-58.53l58.57-58.42c2.27-2.31,3.4-4.88,3.4-7.7      c0-2.92-1.14-5.51-3.43-7.78c-2.29-2.27-4.9-3.4-7.84-3.4c-2.94,0-5.53,1.09-7.76,3.26l-66.18,66.39      c-1.86,1.68-3,3.56-3.44,5.64V93.64c0-7.4-3.68-11.1-11.04-11.1C1271.17,82.54,1267.49,86.24,1267.49,93.64"/>
			</defs>
			<use xlink:href="#SVGID_17_" style="overflow:visible;fill:#4c3371;"/>
			<clipPath id="SVGID_18_">
				<use xlink:href="#SVGID_17_" style="overflow:visible;"/>
			</clipPath>
			<rect x="1267.49" y="82.54" class="st13" width="110.73" height="220.92"/>
		</g>
		<g>
			<g>
				<defs>
					<path id="SVGID_19_" d="M187.68,265.17c-10.87-10.88-16.31-23.94-16.31-39.18c0-15.14,5.44-28.15,16.31-39.03       c10.88-10.87,23.94-16.31,39.18-16.31c15.15,0,28.15,5.44,39.03,16.31c10.88,10.88,16.31,23.89,16.31,39.03       c0,15.25-5.44,28.31-16.31,39.18c-10.88,10.88-23.88,16.31-39.03,16.31C211.62,281.49,198.56,276.05,187.68,265.17        M282.21,93.11v78.58c-15.25-15.48-33.71-23.22-55.37-23.22c-21.45,0-39.76,7.58-54.91,22.74       c-15.15,15.16-22.73,33.42-22.73,54.78c0,21.47,7.58,39.78,22.74,54.93c15.15,15.15,33.47,22.73,54.93,22.73       c21.36,0,39.62-7.58,54.78-22.73c15.16-15.16,22.73-33.46,22.73-54.93V93.11c0-7.42-3.72-11.14-11.16-11.14       C285.87,81.97,282.21,85.69,282.21,93.11"/>
				</defs>
				<use xlink:href="#SVGID_19_" style="overflow:visible;fill:#4c3371;"/>
				<clipPath id="SVGID_20_">
					<use xlink:href="#SVGID_19_" style="overflow:visible;"/>
				</clipPath>
				<rect x="149.2" y="81.97" class="st14" width="155.18" height="221.68"/>
			</g>
			<g>
				<g>
					<defs>
						<path id="SVGID_21_" d="M179.82,0.27l63.4,139.15c8.35,1.67,20.28,4.33,27.61,9.82V94.12c0-15.75,12.24-22.94,23.93-22.94        c4.06-29.48-24.99-70.91-60.54-70.91H179.82z"/>
					</defs>
					<use xlink:href="#SVGID_21_" style="overflow:visible;fill:#4c3371;"/>
					<clipPath id="SVGID_22_">
						<use xlink:href="#SVGID_21_" style="overflow:visible;"/>
					</clipPath>
					<rect x="179.82" y="0.27" class="st15" width="119" height="148.97"/>
				</g>
				<g>
					<defs>
						<path id="SVGID_23_" d="M1,230.87c0,34.5,30.79,64.16,64.52,64.16h99.77c-15.91-14.66-25.37-35.96-27.44-54.43L1,180.35        V230.87z"/>
					</defs>
					<use xlink:href="#SVGID_23_" style="overflow:visible;fill:#4c3371;"/>
					<clipPath id="SVGID_24_">
						<use xlink:href="#SVGID_23_" style="overflow:visible;"/>
					</clipPath>
					<rect x="1" y="180.35" class="st16" width="164.29" height="114.68"/>
				</g>
				<g>
					<defs>
						<path id="SVGID_25_" d="M81.78,0.32l107.39,145.49c0,0,14.71-9.58,45.23-7.58L171.57,0.32H81.78z"/>
					</defs>
					<use xlink:href="#SVGID_25_" style="overflow:visible;fill:#4c3371;"/>
					<clipPath id="SVGID_26_">
						<use xlink:href="#SVGID_25_" style="overflow:visible;"/>
					</clipPath>

				</g>
				<g>
					<defs>
						<path id="SVGID_27_" d="M0,72.07L149.07,182.8c0,0,13.81-24.73,34.09-34.09L72.43,0.53c0,0-1.82-0.2-4.87-0.2        C51.58,0.34,1.68,5.67,0,72.07"/>
					</defs>
					<use xlink:href="#SVGID_27_" style="overflow:visible;fill:#4c3371;"/>
					<clipPath id="SVGID_28_">
						<use xlink:href="#SVGID_27_" style="overflow:visible;"/>
					</clipPath>
					<rect x="0" y="0.34" class="st18" width="183.16" height="182.47"/>
				</g>
				<g>
					<defs>
						<path id="SVGID_29_" d="M-0.21,169.43l137.02,61.94c0,0-0.27-24.18,7.81-42.11L-0.21,82.77V169.43z"/>
					</defs>
					<use xlink:href="#SVGID_29_" style="overflow:visible;fill:#4c3371;"/>
					<clipPath id="SVGID_30_">
						<use xlink:href="#SVGID_29_" style="overflow:visible;"/>
					</clipPath>
					<rect x="-0.21" y="82.77" class="st19" width="144.83" height="148.61"/>
				</g>
			</g>
		</g>
	</g>
</g>
<g id="guides">
</g>
</svg>
</div></div>
